* {margin:0;
    padding: 0;
    }
/* Header styles*/

h1 { font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color :rgb(131, 13, 115);
    padding:10px;
    margin-top: 10px;
    text-align: center;
    font-size:250%;
    }







/* Smaller screens adjustment*/

@media only screen and (max-width: 768px) {
    


}